@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');


.test {
	background-color: #262c41;
	position: absolute;
	margin:0;
	background-size: cover;
	height: 100%;
}
@media only screen and (max-width:600px) {	
	.test {background:black;}			 
}
@media only screen and (min-width:600px) {	
	.test {background:black;}			 
}
@media only screen and (min-width:768px) {	
	.test {background:black;}			 
}
@media only screen and (min-width:992px) {	
	.test {background:black;}			 
}
@media only screen and (min-width:1200px) {	
	.test {background:black;}			 
}


  
h1  {
	
	font-family:'Poppins', sans-serif;
	font-size: 80px;
	color: whitesmoke;
	cursor: crosshair;
	position: absolute;
	font-weight: bold;
	top: 120px;
	left:120px;

}
h2{
	font-family:'Poppins', sans-serif;
	font-size: 80px;
	color: whitesmoke;
	cursor: crosshair;
	position: absolute;
	font-weight: bold;
	top: 110px;
	left:320px;
	
}
h2:hover{
	font-family:'Poppins', sans-serif;
	font-size: 80px;
	color: rgba(249, 205, 255, 0.875);
	cursor: crosshair;
	position: absolute;
	font-weight: bold;
	top: 110px;
	left:320px;
}
p1{ /*I am a*/
	font-family: 'Nunito Sans', sans-serif;
	font-size: 25px;
	color: whitesmoke;
	cursor: crosshair;
	position: absolute;
	left:123px;
	top: 250px;
	letter-spacing: 1px;
	padding-right: 120px;
	
}	
p2{ /* Freshman Information Technology student*/
	font-family: 'Nunito Sans', sans-serif;
	font-size: 25px;
	color:  rgba(249, 205, 255, 0.829);
	cursor: crosshair;
	position: absolute;
	top: 250px;
	left:185px;
	letter-spacing: 1px;
	padding-right:120px;
}
p3{ /*my foundational skills*/
	font-family: 'Nunito Sans', sans-serif;
	font-size: 25px;
	color: whitesmoke;
	cursor: crosshair;
	position: absolute;
	top: 320px;
	left:123px;
	line-height: 30px;
	text-wrap:balance;
	letter-spacing: 1px;
	padding-right:120px;
	
	
}	
p4{  /*at the Polytechnic University*/
	font-family: 'Nunito Sans', sans-serif;
	font-size: 25px;
	color: whitesmoke;
	cursor: crosshair;
	position: absolute;
	left:580px;
	top: 250px;
	line-height:30px;
	letter-spacing: 1px;
	
	
}
p5{ /*of the Philippines*/
	font-family: 'Nunito Sans', sans-serif;
	font-size: 25px;
	color: whitesmoke;
	cursor: crosshair;
	position: absolute;
	left:123px;
	top: 280px;
	line-height:30px;
	letter-spacing: 1px;
	
}

a.one:link { /*home*/
	color: whitesmoke;
	position: absolute;
	top:16px;
	left:40px;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 1px;
	font-family: 'Nunito Sans', sans-serif;
	text-decoration: none; 
	
}
a.one:visited {
	color: whitesmoke;
}
a.one:hover {
	color:rgba(253, 253, 253, 0.76);
}

a.two:link { /*projects*/
	color:whitesmoke;
	position: absolute;
	top:16px;
	left:135px;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 1px;
	font-family:'Nunito Sans', sans-serif;
	text-decoration:none;
}
a.two:visited {
	color:whitesmoke;
}
a.two:hover {
	color:rgba(253, 253, 253, 0.76);
}

a.three:link { /*experience*/
	color:whitesmoke;
	position:absolute;
	top:16px;
	left:250px;
	font-size: 15px;
	font-weight: 100;
	letter-spacing: 1px;
	font-family:'Nunito Sans', sans-serif;
	text-decoration:none;
}
a.three:visited {
	color: whitesmoke;
}
a.three:hover {
	color:rgba(253, 253, 253, 0.76);
}


a.four:link{ /*linkedin*/
	color: rgba(249, 205, 255, 0.829);
	position:absolute;
	top:550px;
	left:210px;
	font-size: 15px;
	font-weight: 10px;
	font-family:'Nunito Sans', sans-serif;
	letter-spacing: 1px;
	text-decoration:none;
	border-style:solid;
	padding:10px;
	
	padding-right:18px;
	padding-left:18px ;
	border-color:  rgba(249, 205, 255, 0.829);
	border-radius:100%;

	
}

a.four:visited {
	color:  rgba(249, 205, 255, 0.829);
}
a.four:hover {
	color: rgba(249, 205, 255, 0.829);
	background-color:   rgba(249, 205, 255, 0.123);
	overflow: hidden;
	transition: all 1s;
}

.five{ /*facebook*/

	color: rgba(249, 205, 255, 0.829);
	position:absolute;
	top:550px;
	left:130px;
	font-size: 15px;
	font-weight: 10px;
	font-family:'Nunito Sans', sans-serif;
	letter-spacing: 1px;
	text-decoration:none;
	border-style:solid;
	padding:10px;
	
	padding-right:21px;
	padding-left:21px ;
	border-color:  rgba(249, 205, 255, 0.829);
	border-radius:100%;
}
a.five:visited {
	color:  rgba(249, 205, 255, 0.829);
}
a.five:hover {
	color: rgba(249, 205, 255, 0.829);
	background-color:   rgba(249, 205, 255, 0.123);
	overflow: hidden;
	transition: all 1s;
}
.six{ /*github*/

	color: rgba(249, 205, 255, 0.829);
	position:absolute;
	top:450px;
	left:135px;
	font-size: 15px;
	font-weight: 10px;
	font-family:'Nunito Sans', sans-serif;
	letter-spacing: 1px;
	text-decoration:none;
	border-style:solid;
	padding:10px;
	
	padding-right:21px;
	padding-left:21px ;
	border-color:  rgba(249, 205, 255, 0.829);
	border-radius:10px;
}
a.six:visited {
	color:  rgba(249, 205, 255, 0.829);
}
a.six:hover {
	color: rgba(249, 205, 255, 0.829);
	background-color:  rgba(249, 205, 255, 0.123);
	overflow: hidden;
	transition: all 1s;
}

p6{ /*gmail*/

	color: rgba(249, 205, 255, 0.829);
	position:absolute;
	top:450px;
	left:250px;
	font-size: 15px;
	font-weight: 10px;
	font-family:'Nunito Sans', sans-serif;
	letter-spacing: 1px;
	text-decoration:none;
	border-style:solid;
	padding:10px;
	
	padding-right:21px;
	padding-left:21px ;
	border-color:  rgba(249, 205, 255, 0.829);
	border-radius:10px;
}
p6:visited {
	color:  rgba(249, 205, 255, 0.829);
}
p6:hover {
	color: rgba(249, 205, 255, 0.829);
	background-color:  rgba(249, 205, 255, 0.123);
	overflow: hidden;
	transition: all 1s;
}
